extends layout.pug

block content
  main.page-content
    include fragments/categories
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each proposal in proposals
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src=`/img/${proposal.picture}` alt=proposal.title)
                .ticket-card__info
                  span.ticket-card__label #{proposal.type === `offer` ? `Куплю` : `Продам`}
                  .ticket-card__categories
                    each category in proposal.categories
                      a(href="#") #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href="#") #{proposal.title}
                    p.ticket-card__price
                      span.js-sum #{proposal.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{proposal.description}
    section.tickets-list
      h2.visually-hidden Самые обсуждаемые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самые обсуждаемые
        ul
          each proposal in proposals
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src=`/img/${proposal.picture}` alt=proposal.title)
                .ticket-card__info
                  span.ticket-card__label #{proposal.type === `offer` ? `Куплю` : `Продам`}
                  .ticket-card__categories
                    each category in proposal.categories
                      a(href="#") #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href="#") #{proposal.title}
                    p.ticket-card__price
                      span.js-sum #{proposal.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{proposal.description}
    if (totalPages > 1)
      +pagination(page, totalPages, 2, `?`)
