extends layout.pug

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='#')
            span Новая публикация
        ul
          each offer in proposals
            li.tickets-list__item.js-card
              .ticket-card.ticket-card--color06
                .ticket-card__img
                  img(src=`/img/${offer.picture}` srcset=`/img/${offer.picture} 2x` alt=offer.title)
                .ticket-card__info
                  span.ticket-card__label #{offer.type === `offer` ? `Куплю` : `Продам`}
                  .ticket-card__categories
                    each category in offer.categories
                      a(href="#") #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum.toLocaleString()}
                      |  ₽
                button.ticket-card__del.js-delete(type='button') Удалить
