extends layout.pug

block content
  main.page-content
    section.search-results
      h1.visually-hidden Результаты поиска
      .search-results__wrapper
        p.search-results__label
          | Найдено&nbsp;
          span.js-results #{results.length} публикаций
        ul.search-results__list
          each result in results
            li.search-results__item
              .ticket-card.ticket-card--color05
                .ticket-card__img
                  img(src=`/img/${result.picture}` alt="Изображение товара")
                .ticket-card__info
                  span.ticket-card__label #{result.type === `offer` ? `Куплю` : `Продам`}
                  .ticket-card__categories
                    each category in result.categories
                      a(href="#") #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href="#") #{result.title}
                    p.ticket-card__price
                      span.js-sum #{result.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{result.description}
