extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }

  main.page-content
    section.ticket
      .ticket__wrapper
        h1.visually-hidden Карточка объявления
        .ticket__content
          .ticket__img
            img(src=`/img/${proposal.picture}` alt=proposal.title)
          .ticket__info
            h2.ticket__title #{proposal.title}
            .ticket__header
              p.ticket__price
                span.js-sum #{proposal.sum}
                |  ₽
              p.ticket__action #{proposal.type === `OFFER` ? `КУПЛЮ` : `ПРОДАМ`}
            .ticket__desc
              p #{proposal.description}
            .ticket__data
              p
                b Дата добавления:
                span #{formatDate(proposal.createdAt)}
              p
                b Автор:
                a(href="#") Денис Шкатулкин
              p
                b Контакты:
                a(href="mailto:shkatulkin@ya.ru") shkatulkin@ya.ru
            ul.ticket__tags
              each category in proposal.categories
                li
                  a.category-tile.category-tile--small(href="#")
                    span.category-tile__image
                      +categoryImage(category)
                    span.category-tile__label #{category.name}
